@page "/"

<PageTitle>Medidor de Jogabilidade</PageTitle>

<h1>Medidor de Jogabilidade</h1>

<p>Será que você joga muito? Insira seu nome aqui</p>

<EditForm Model="@medidorModel" OnValidSubmit="@HandleValidSubmit">
    <InputText id="name" @bind-Value="medidorModel.Name" />

    <button type="submit">Joga?</button>
</EditForm>

@code {
    private MedidorModel medidorModel = new();

    private void HandleValidSubmit()
    {
        if(string.IsNullOrWhiteSpace(medidorModel.Name))
            return;
        
        var name = medidorModel.Name.Trim();

        if(string.Equals(name, "SHICHA", StringComparison.InvariantCultureIgnoreCase)
        || string.Equals(name, "RENAN", StringComparison.InvariantCultureIgnoreCase))
            System.Console.WriteLine("SIM");
        else
            System.Console.WriteLine("NÃO");
    }
}
