@page "/"
@inject IModalService modal

<PageTitle>Medidor de Jogabilidade</PageTitle>

<h1>Medidor de Jogabilidade</h1>

<EditForm Model="@medidorModel" OnValidSubmit="@HandleValidSubmit">
    <div class="mb-3">
        <label for="name" class="form-label">Será que você joga muito? <br> Insira seu nome aqui:</label>
        <InputText id="name" @bind-Value="medidorModel.Name" class="form-control"/>
    </div>
    
    <button class="btn btn-primary" type="submit">
        <span>Joga?</span>
    </button>
</EditForm>

@code {
    private MedidorModel medidorModel = new();

    private void HandleValidSubmit()
    {
        if(string.IsNullOrWhiteSpace(medidorModel.Name))
            return;
        
        var name = medidorModel.Name.Trim();

        if(string.Equals(name, "SHICHA", StringComparison.InvariantCultureIgnoreCase)
        || string.Equals(name, "GERSON", StringComparison.InvariantCultureIgnoreCase)
        || string.Equals(name, "RENAN", StringComparison.InvariantCultureIgnoreCase))
            modal.Show<Yes>("JOGA");
        else
            modal.Show<Nope>("JOGA NADA");
    }
}
